.il-frame-1 {
    background-color: #f6f6f6;
    height: 752px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 983px;
}
  
.il-frame-1 .frame-2-VxPVnb {
    background-color: var(--white);
    box-shadow: 0px 4px 4px #00000040;
    height: 583px;
    left: 66px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 106px;
    width: 861px;
}
  
.il-frame-1 .group-17-zqxklK {
    background-color: transparent;
    height: 36px;
    left: 32px;
    position: absolute;
    top: 37px;
    width: 810px;
}
  
.il-frame-1 .rectangle-1-bdUqxe {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 4px #00000040;
    height: 36px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 798px;
}
  
.il-frame-1 .sender-bdUqxe {
    background-color: transparent;
    height: auto;
    left: 242px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
  
.il-frame-1 .invoice-no-bdUqxe {
    background-color: transparent;
    height: auto;
    left: 16px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
  
.il-frame-1 .date-bdUqxe {
    background-color: transparent;
    height: auto;
    left: 130px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
  
.il-frame-1 .recipient-bdUqxe {
    background-color: transparent;
    height: auto;
    left: 399px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
  
.il-frame-1 .total-usd-bdUqxe {
    background-color: transparent;
    height: auto;
    left: 551px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
  
.il-frame-1 .paid-bdUqxe {
    background-color: transparent;
    height: auto;
    left: 619px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
  
.il-frame-1 .group-16-zqxklK {
    background-color: transparent;
    height: 26px;
    left: 48px;
    position: absolute;
    top: 85px;
    width: 794px;
}
  
.il-frame-1 .no-PWUVxb {
    background-color: transparent;
    height: auto;
    left: 605px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .x001-PWUVxb {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .dec-20th-2021-PWUVxb {
    background-color: transparent;
    height: auto;
    left: 115px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .sender-name-PWUVxb {
    background-color: transparent;
    height: auto;
    left: 216px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .recipient-name-PWUVxb {
    background-color: transparent;
    height: auto;
    left: 383px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .x100-PWUVxb {
    background-color: transparent;
    height: auto;
    left: 535px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .group-15-PWUVxb {
    background-color: transparent;
    height: 26px;
    left: 647px;
    position: absolute;
    top: 0px;
    width: 67px;
}

.il-frame-1 .rectangle-2-g2jxSw {
    background-color: #19a882;
    height: 26px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 65px;
}
  
.il-frame-1 .paid-g2jxSw {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 20px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .group-15-PWUVxb-pdf {
    background-color: transparent;
    height: 26px;
    left: 717px;
    position: absolute;
    top: 0px;
    width: 67px;
}

.il-frame-1 .rectangle-2-g2jxSw-pdf {
    background-color: #19a882;
    height: 26px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 65px;
}
  
.il-frame-1 .pdf-g2jxSw {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 20px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 5px;
    width: auto;
}
  
.il-frame-1 .group-14-VxPVnb {
    background-color: transparent;
    height: 38px;
    left: 66px;
    position: absolute;
    top: 51px;
    width: 217px;
}
  
.il-frame-1 .rectangle-4-S8UpFC {
    background-color: #19a882;
    height: 38px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 215px;
}
  
.il-frame-1 .create-new-invoice-S8UpFC {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 32px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: 159px;
}